.swiper-container {
    width: 100%;
    
    //スライダー
    &.slider {
        // height: 80vh;
        border: 5px solid white;
        overflow: hidden;
        .swiper-slide{
            img{
                transform: scale(1);
                transition: 1s all;
                opacity: 0;
            }
            &.swiper-slide-active{
                img{
                transform: scale(1.025);
                opacity: 1;
                }
            }
        }

    }
    
    //サムネイル
    &.slider-thumbnail {
        height: 20vh;
        overflow: hidden;
        .swiper-wrapper {
            .swiper-slide {
                width: 25%;
                height: 100%;
                opacity: .5;
                transition: all 1s;
                overflow: hidden;
                @include mq(tb){
                    .imgBox{
                        transition: 1s all;
                    }
                    &:hover{
                        .imgBox{
                            // transform: scale(1.05);
                        }
                    }
                }

                &.swiper-slide-thumb-active {
                    opacity: 1;
                    .imgBox{
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

.swiper-button-next{
    color: #00000070 !important;
    @include mq(tb){
        right: -50px !important;
    }
}
.swiper-button-prev{
    color: #00000070 !important;
    @include mq(tb){
        left: -50px !important;
    }
}