.l-contents{
	width: 100%;
	height: auto;
	&.-img{// 背景画像のみ
		width: 100%;
		height: auto;
	}
	&.-img-bg{// 背景画像＋コンテンツ
		position: relative;
		.imgBox{// 背景画像
			width: 100%;
			height: auto;
			&.-parallax{
				background: url(../images/bg/location-bg_s.png) no-repeat;
				background-size: cover;
				background-position: 0 0;
				background-attachment: fixed;
				@include mq(tb){
					background: url(../images/bg/location-bg.png) no-repeat;
					background-size: cover;
					background-position: 0 0;
					background-attachment: fixed;
				}
			}
		}
		.l-contentsBox{// コンテンツ要素
			width: 100%;
			position: absolute;
			&.-w--center{// 横 --- 中央
				// top:50%;
				left: 50%;
				transform: translateX(-50%);
				@include mq(tb){
					// top: 50%;
				}
			}
			&.-w--right{// 横 --- 右
				// top:50%;
				right: 10%;
				// transform: translateX(-50%);
				@include mq(tb){
					// top: 43.5%;
					// right:50%;
				}
			}
			&.-w--left{// 横 --- 左
				// top:50%;
				left: 10%;
				// transform: translateX(-50%);
				@include mq(tb){
					// top: 43.5%;
					// left:50%;
				}
			}
			.l-contentsBox--wrapper{
				width: 100%;
				height: auto;
				@include mq(tb){
					width: 100%;
					max-width: 1315px;
					margin: auto;

				}
			}
			&.-serifu{
				&.-landscape{
					top: 70.5%;
					left: 24%;
					width: 37%;
					@include mq(tb){
						top: 44%;
						left: 26.5%;
						width: 15%;
					}
				}
				&.-equipment{
					top: 5.5%;
					left: 30%;
					width: 37%;
					@include mq(tb){
						top: 12%;
						left: 26%;
						width: 15%;
					}
				}
			}
			&.-c-location{
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 88%;
				@include mq(tb){
					width: 80%;
				}
				@include mq(pc){
					width: 80%;
				}
			}
			&.-text{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&.-tabBtn{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			// タブ内 > パース（スマホのみ）
			&.-sp-pars01{
				@include mq(sp){
					top: 28%;
					left: 58%;
					transform: translate(-50%, -50%);
					width: 75%;
					filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.37));
					z-index: 10;
				}
			}
			&.-sp-pars02{
				@include mq(sp){
					top: 27%;
    				left: 57%;
					transform: translate(-50%, -50%);
					width: 80%;
					filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.37));
					z-index: 10;
				}
			}
			&.-sp-pars03{
				@include mq(sp){
					top: 27.5%;
					left: 57%;
					transform: translate(-50%, -50%);
					width: 80%;
					filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.37));
					z-index: 10;
				}
			}
			&.-sp-pars04{
				@include mq(sp){
					top: 24%;
					left: 64%;
					transform: translate(-50%, -50%);
					width: 59%;
					filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.37));
					z-index: 10;
				}
			}
			// タブ内 > 外観写真（PCのみ）
			&.-g-sliderArea{
				@include mq(tb){
					top: 37%;
					left: 87.5%;
					transform: translate(-50%, -50%);
					width: 31%;
				}
				.l-slider{
					border: 10px solid white;
					filter: drop-shadow(1px 1px 15px #80808067);
				}
			}
			// タブ内 > 内観写真（スマホ・PC）
			&.-n-sliderArea{
				top: 45%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 90%;
				@include mq(tb){
					top: 36%;
					left: 40%;
					transform: translate(-50%, -50%);
					width: 50%;
				}
				@include mq(tb-pc1000){
					top: 33%;
				}
				@include mq(tb-pc1300){
					top: 32%;
				}
				@include mq(tb-pc1600){
					top: 30%;
				}
				@include mq(tb-pc1850){
					top: 29%;
				}
				&.-goutou_v02{
					@include mq(sp){
						top: 43.5%;
					}
				}
				&.-goutou_v03{
					@include mq(sp){
						top: 39%;
					}
				}
				.swiper-slider{
					// border: 10px solid white;
					filter: drop-shadow(1px 1px 15px #80808067);
				}
			}
			&.-shadowPic{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.199);
				
				&:hover{

				}
			}
		}
	}
	// 基本的にSliderは、「Slick or Swiper」を使用すること
	// 場所：「Scss/introduction内」
	&.-slider{
		//下記スマホ以上
		@include mq(tb){
		}
	}
}